# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
env/
ENV/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/
notebooks/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Dataset
# ==========================
dataset/

# ==========================
# Uploaded Images
# ==========================
static/uploads/

# ==========================
# Trained Models
# ==========================
saved_models/*.h5
saved_models/*.ckpt
saved_models/*.pb

# ==========================
# TensorFlow Logs
# ==========================
logs/
events.out.tfevents.*

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Cache
# ==========================
*.pyc
*.pyo
*.pyd

# ==========================
# Build Files
# ==========================
build/
dist/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.log

# ==========================
# Flask Cache
# ==========================
instance/
.flaskenv

# ==========================
# Render
# ==========================
.render/